{% extends "base.html" %}

{% load staticfiles %}

{% block head_title %}Volunteers List{% endblock %}

{% block body_content %}
    {% for volunteer in object_list %}
        <p>{{ volunteer.name }} - {{ volunteer.phone_1 }} - {{ volunteer.email }}</p>
    {% endfor %}
{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static "css/volunteers.css" %}" />
{% endblock %}

{% block extra_scripts %}
    <script src="{% static "js/volunteers.js" %}"></script>
{% endblock %}
