<div class="form-group{% if field.errors %} has-error{% endif %}">
    <label class="control-label col-sm-4 col-lg-4" for="{{ field.id_for_label }}">
        {% if field.field.required %}
            <strong>{{ field.label }}</strong>
        {% else %}
            {{ field.label }}
        {% endif %}
    </label>

    <div class="col-sm-8 col-lg-8">
        <input id="{{ field.id_for_label }}"
               class="form-control"
               name="{{ field.html_name }}"
               type="{{ field.field.widget.input_type }}"
               {% if field.field.max_length %}maxlength="{{ field.field.max_length }}"{% endif %}
               placeholder="{{ field.label }}"
               value="{% if field.value %}{{ field.value }}{% endif %}">
        {% if field.errors %}
            <div id="{{ field.id_for_label }}_error" class="help-block col-xs-12 col-sm-reset">{{ field.errors }}</div>
        {% endif %}
    </div>
</div>
